Repository aristanetworks/anta, pull requests merged in 2022-09, with the labels that each got.

#112 feat(inventory): Add tag support to filter test execution
  README.md
  anta/inventory/__init__.py
  anta/inventory/models.py
  scripts/check-devices.py
Labels: framework-enhancement, Scripts enhancement

#113 feat(result_manager): Support JSON output and save option
  README.md
  anta/result_manager/__init__.py
  anta/tools.py
  scripts/check-devices.py
Labels: framework-enhancement, Scripts enhancement

#115 doc: Update markdown to use mkdocs
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/api/README.md
  docs/api/decorators.md
  docs/api/inventory.exceptions.md
  docs/api/loader.md
  docs/api/result_manager.models.md
  docs/api/tests.md
  docs/api/tests.routing.md
  docs/api/tests.vxlan.md
  docs/demo.md
  docs/generate-functions-documentation.py
  docs/getting-started.md
  docs/requirements-and-installation.md
  docs/usage.md
  examples/README.md
  examples/devices.txt
  examples/inventory.yml
  examples/tests_all.yaml
  examples/tests_custom.yaml
  examples/tests_subset.yaml
  mkdocs.yml
  scripts/create-devices-inventory-from-cvp.py
Labels: documentation

#117 fix(check-devices): Update --timeout management + add logging management
  .gitignore
  .vscode/launch.json
  anta/inventory/__init__.py
  scripts/check-devices.py
Labels: bug

#125 doc: Update README.md
  README.md
Labels: documentation
