Repository aristanetworks/anta, pull requests merged in 2023-11, with the labels that each got.

#444 chore: Reduce size of docker image
  .dockerignore
  Dockerfile
Labels: refactor

#414 feat(anta.cli): Check catalog functionality
  .gitignore
  .vscode/settings.json
  anta/catalog.py
  anta/cli/__init__.py
  anta/cli/check/__init__.py
  anta/cli/check/commands.py
  anta/cli/exec/commands.py
  anta/cli/get/commands.py
  anta/cli/nrfu/utils.py
  anta/cli/utils.py
  anta/custom_types.py
  anta/device.py
  anta/loader.py
  anta/logger.py
  anta/models.py
  anta/runner.py
  docs/api/catalog.md
  docs/cli/exec.md
  docs/cli/nrfu.md
  docs/cli/tag-management.md
  docs/getting-started.md
  docs/usage-inventory-catalog.md
  mkdocs.yml
  tests/data/json_data.py
  tests/data/test_catalog_not_a_list.yml
  tests/data/test_catalog_test_definition_multiple_dicts.yml
  tests/data/test_catalog_test_definition_not_a_dict.yml
  tests/data/test_catalog_with_tags.yml
  tests/data/test_catalog_with_undefined_module.yml
  tests/data/test_catalog_with_undefined_module_nested.yml
  tests/data/test_catalog_with_undefined_tests.yml
  tests/lib/fixture.py
  tests/lib/utils.py
  tests/units/result_manager/test_models.py
  tests/units/test_catalog.py
  tests/units/test_runner.py
Labels: framework-enhancement, Anta CLI

#471 fix(anta.tests): Add quotes around version name in VerifyEOSVersion
  anta/tests/software.py
  tests/units/anta_tests/test_software.py
Labels: network-tests

#469 fix(anta.cli): Use configured anta inventory as output by default in get from-ansible
  anta/cli/get/commands.py
  docs/cli/inv-from-ansible.md
  tests/units/cli/get/test_commands.py
Labels: Anta CLI
