Repository aristanetworks/anta, pull requests merged in 2023-07, with the labels that each got.

#249 feat(anta): Add test categories and description to nrfu report
  anta/reporter/__init__.py
Labels: framework-enhancement, Anta CLI

#288 fix(anta.cli): Add --group-by in nrfu table command
  anta/cli/__init__.py
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/cli/utils.py
  docs/cli/nrfu.md
  docs/imgs/anta-nrfu-table-filter-host-output.png
  docs/imgs/anta-nrfu-table-filter-test-output.png
  docs/imgs/anta-nrfu-table-group-by-host-output.png
  docs/imgs/anta-nrfu-table-group-by-test-output.png
Labels: Anta CLI

#284 fix(anta.cli)!: anta exec collect-tech-support --configure
  anta/cli/__init__.py
  anta/cli/exec/commands.py
  anta/cli/exec/utils.py
  anta/cli/utils.py
  docs/cli/exec.md
  pyproject.toml
  tests/data/test_inventory.yml
  tests/data/test_snapshot_commands.yml
  tests/lib/utils.py
  tests/units/cli/exec/__init__.py
  tests/units/cli/exec/test_commands.py
Labels: bug, Anta CLI

#259 feat(anta.cli): Add an --enable flag
  anta/cli/__init__.py
  anta/cli/exec/utils.py
  anta/cli/utils.py
  anta/device.py
  anta/inventory/__init__.py
  anta/tools/misc.py
  docs/README.md
  docs/cli/get-inventory-information.md
  docs/cli/overview.md
  docs/getting-started.md
  docs/snippets/anta_help.txt
  mkdocs.yml
  tests/lib/fixture.py
  tests/units/cli/test__init__.py
Labels: bug, Anta CLI

#295 feat(anta.cli): Add support for creating ANTA inventory from Ansible
  anta/cli/__init__.py
  anta/cli/get/commands.py
  anta/cli/get/utils.py
  docs/cli/inv-from-ansible.md
  mkdocs.yml
Labels: Anta CLI

#301 doc: Remove snippet from repository README file
  docs/README.md
Labels: documentation

#302 feat(anta.tests)!: Update Hardware tests
  anta/tests/hardware.py
  tests/units/anta_tests/hardware/data.py
  tests/units/anta_tests/hardware/test_exc.py
Labels: framework-enhancement

#305 fix(anta.cli): Allow list of commands to not have all supported format defined
  anta/cli/exec/utils.py
Labels: bug, Anta CLI

#314 doc: Use absolute path for image
  :wq
  docs/README.md
  mkdocs.yml
Labels: documentation
