Repository aristanetworks/anta, pull requests merged in 2023-09, with the labels that each got.

#371 feat(anta.cli): Enable CLI command auto aliases
  anta/cli/__init__.py
  anta/cli/utils.py
Labels: Anta CLI

#381 feat(anta.tests): Add new BGP tests
  .pre-commit-config.yaml
  anta/cli/exec/utils.py
  anta/custom_types.py
  anta/decorators.py
  anta/tests/routing/bgp.py
  docs/advanced_usages/custom-tests.md
  docs/api/tests.routing.bgp.md
  docs/usage-inventory-catalog.md
  examples/tests.yaml
  pyproject.toml
  tests/units/anta_tests/routing/test_bgp.py
Labels: framework-enhancement

#409 fix(anta.tests): Update Interface custom type
  anta/custom_types.py
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Labels: bug, network-tests
