Repository aristanetworks/anta, pull requests merged in 2024-07, with the labels that each got.

#739 feat(anta): Add support for JSON catalogs
  anta/catalog.py
  anta/cli/nrfu/__init__.py
  anta/cli/utils.py
  docs/cli/check.md
  docs/snippets/anta_nrfu_help.txt
  docs/usage-inventory-catalog.md
  tests/data/test_catalog.json
  tests/data/test_catalog_invalid_json.json
  tests/units/cli/nrfu/test__init__.py
  tests/units/test_catalog.py
Labels: framework-enhancement

#750 fix(anta.cli): Update --hide description under anta nrfu
  anta/cli/nrfu/__init__.py
  docs/snippets/anta_nrfu_help.txt
Labels: bug, documentation, Anta CLI

#749 fix: Add missing testcases in example folder
  examples/README.md
  examples/tests.yaml
Labels: documentation

#672 feat(anta): Add support of CSV file export
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/reporter/__init__.py
  anta/reporter/csv_reporter.py
  docs/cli/nrfu.md
  docs/imgs/anta_nrfu_csv.png
  docs/snippets/anta_nrfu_help.txt
  tests/units/cli/nrfu/test_commands.py
  tests/units/reporter/test_csv.py
Labels: framework-enhancement, Anta CLI
