Repository aristanetworks/anta, pull requests merged in 2024-03, with the labels that each got.

#581 fix(anta.tests): Fix an issue in VerifyL2MTU to capture interface name
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Labels: bug, network-tests

#602 feat(anta.tests): Add OSPF Max LSA Test
  anta/tests/routing/ospf.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_ospf.py
Labels: network-tests

#588 feat(anta.cli): `anta nrfu` enchancements: add `--device` and `--test` to filter tests and `--hide (error|failure|success|skipped)` to hide results.
  anta/catalog.py
  anta/cli/debug/commands.py
  anta/cli/debug/utils.py
  anta/cli/exec/commands.py
  anta/cli/exec/utils.py
  anta/cli/get/commands.py
  anta/cli/get/utils.py
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/cli/utils.py
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
  anta/models.py
  anta/reporter/__init__.py
  anta/result_manager/__init__.py
  anta/runner.py
  anta/tests/bfd.py
  anta/tests/interfaces.py
  anta/tests/mlag.py
  anta/tests/routing/bgp.py
  anta/tests/security.py
  anta/tests/services.py
  anta/tests/stp.py
  anta/tests/vlan.py
  anta/tests/vxlan.py
  anta/tools.py
  anta/tools/__init__.py
  anta/tools/get_dict_superset.py
  anta/tools/get_item.py
  anta/tools/get_value.py
  anta/tools/utils.py
  docs/advanced_usages/caching.md
  docs/cli/nrfu.md
  pylintrc
  pyproject.toml
  tests/data/test_catalog_with_tags.yml
  tests/lib/fixture.py
  tests/units/cli/exec/test_utils.py
  tests/units/cli/get/test_commands.py
  tests/units/cli/nrfu/test_commands.py
  tests/units/reporter/test__init__.py
  tests/units/result_manager/test__init__.py
  tests/units/test_catalog.py
  tests/units/test_logger.py
  tests/units/test_runner.py
  tests/units/test_tools.py
  tests/units/tools/__init__.py
  tests/units/tools/test_get_dict_superset.py
  tests/units/tools/test_get_item.py
  tests/units/tools/test_get_value.py
  tests/units/tools/test_utils.py
Labels: framework-enhancement, Anta CLI
